<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746929226306-911f1lqmntis66ori6u823ffilu3ncq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746929226306-911f1lqmntis66ori6u823ffilu3ncq3</string>
	<key>API_KEY</key>
	<string>AIzaSyC6SibQJiClHNAKsu6h3dn6XVMEvtkk25M</string>
	<key>GCM_SENDER_ID</key>
	<string>746929226306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kotha</string>
	<key>PROJECT_ID</key>
	<string>porichoy-app</string>
	<key>STORAGE_BUCKET</key>
	<string>porichoy-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746929226306:ios:07d6cd8459ac70298323db</string>
</dict>
</plist>